.categories {
    height: 100%;
    width: 100%;
    display: flex;

    .nav {
        min-width: 250px;
        max-width: 250px;
        height: 100%;
        background-color: #3d4f5a;

        ul {
            li {
                a {
                    color: white;
                    font-size: 12px;
                    border-left: 3px solid transparent;
                    padding: 16px;
                    display: flex;
                    justify-content: space-between;
    
                    &.active {
                        background-color: #5eb282;
                    }
    
                    .icon {
                        height: 20px;
                        width: 20px;
                    }
                }
    
                &:hover {
                    a:not(.active) {
                        border-left: 3px solid #EE8366;
                        background-color: #2C3A42;
                        transition: all 0.15s ease-in-out;
                    }
                }
            }
        }
    
        .navLink {
            width: 100%;
            padding: 10px;
        }
    }
    
    .main {
        width: 100%;
        height: 100%;
        padding: 50px;
    }

    .newCategoryForm {
        margin-bottom: 50px;

        &__inputGroup {
            display: flex;
            flex-direction: column;
            margin-bottom: 50px;
            flex: auto;

            label {
                font-weight: bold;
                font-size: 16px;
            }
            
            input {
                margin-top: 10px;
                width: 100%;
                border: 1px solid black;
                height: 50px;
                padding: 5px 10px;

                &:disabled {
                    background: #dddddd;
                    cursor:not-allowed;
                }
            }
        }

        &__nameRow {
            display: flex;
            justify-content: space-between;
            grid-gap: 50px;
        }
    }

    .categoryTable {
        width: 100%;
        height: min-content;

        &__header {
            padding-bottom: 10px;
            margin-bottom: 5px;
            font-size: 16px;
            border-bottom: 1px solid gray;

            &Item {
                display: inline-block;
            }
        }

        &__row {
            display: flex;
            align-items: center;

            &Item {
                display: inline-block;
                padding: 5px;

                .faSquare {

                }

                .faTrash {
                    color: #dc3545;
                }

                svg {
                    height: 15px;
                    cursor: pointer;
                }
            }
        }
    }
}