.button {
    padding: 12px 15px;
    border-radius: 5px;
    width: 150px;
    cursor: pointer;
    text-align: center;

    &.primary {
        background-color: #82b440;
        box-shadow: 0 2px 0 #6f9a37;
        color: white;
    }

    &.submit {
        background-color: #2364d2;
        box-shadow: 3px 10px 20px 0px rgb(35 100 210 / 30%);
        color: white;
        width: 100%;
    }

    &.danger {
        background-color: #dc3545;
        color: white;
    }

    &.disabled {
        background-color: #dddddd !important;
        color: white;
        box-shadow: none;
        cursor: not-allowed;
    }
}