@import "../imports.scss";

.header {
    height: $header-height;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    padding: 50px 0 25px 0;
    border-bottom: 1px solid grey;

    ul {
        display: flex;
        grid-gap: 32px;
        gap: 32px;

        a {
            font-size: 40px;

            &.active {
                border-bottom: 1px solid black;
            }
        }
    }

    .profile {
        border: 1px solid black;
        border-radius: 50px;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}