.newProductModal {
    position: absolute;
    top: -75px;
    left: 0;
    bottom: -55px;
    right: 0;
    background-color: rgba(0,0,0, 0.75);

    .inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-height: 300px;
        max-height: 650px;
        min-width: 300px;
        background-color: white;
        border-radius: 6px;
        padding: 10px;
        overflow: auto;

        .closeIcon {
            height: 25px;
            margin-left: auto;
            cursor: pointer;
        }

        .innerGroupWrapper {
            display: flex;
            grid-gap: 50px;

            .imageUploader, .inputWrapper {
                min-width: 250px;
            }

            .imageUploader {
                margin-top: 20px;

                .imageItem {
                    display: flex;
                    margin: 10px 0;
                    justify-content: space-between;

                    img {
                        object-fit: contain;
                    }

                    button {
                        background-color: lightgray;
                        padding: 10px;
                        border-radius: 6px;
                        margin-bottom: 10px;
                    }
                }

                .imageButtonWrapper {
                    display: flex;
                    grid-gap: 10px;
                    flex-direction: column;
                    overflow: auto;
                    max-height: 500px;
                    
                    .mainButtons {
                        display: flex;
                        grid-gap: 10px;
                    }
                }

                .btnWrapper {
                    display: flex;
                    flex-direction: column;
                    margin-left: 10px;
                }

                button {
                    background-color: lightgray;
                    padding: 20px;
                    border-radius: 6px;
                }
            }
        }

        .inputGroup {
            display: flex;
            flex-direction: column;
            margin-bottom: 25px;
            flex: auto;

            label {
                font-weight: bold;
                font-size: 16px;
            }
            
            input, textarea, select {
                margin-top: 10px;
                width: 100%;
                border: 1px solid black;
                height: 50px;
                padding: 5px 10px;
            }
        }
    }
}